<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console_root" target="SYSTEM_OUT">
			<PatternLayout pattern="%level : %d [%c] %m%n %l%n" />
		</Console>
		
		<Console name="console_sqltiming" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%c]%n %m%n" />
		</Console>
		
		<Console name="console_resultsettable" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>


	<Loggers>
		
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="console_sqltiming"/>
		</Logger>
		
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false">
			<AppenderRef ref="console_resultsettable"/>
		</Logger>
		
		
		<Root level="WARN">
			<AppenderRef ref="console_root" />
		</Root>
		

	</Loggers>
</Configuration>
 
